    <!--JS files-->
    {% load static %}
    <script src="{% static 'linaofisAssets/js/jquery.min.js' %}"></script>
    <script  src="{% static 'linaofisAssets/js/jquery.bootstrap.js' %}"></script>
    <script  src="{% static 'linaofisAssets/js/jquery.magnific-popup.js' %}"></script>
    <script  src="{% static 'linaofisAssets/js/jquery.owl.carousel.js' %}"></script>
    <script  src="{% static 'linaofisAssets/js/jquery.ion.rangeSlider.js' %}"></script>
    <script  src="{% static 'linaofisAssets/js/jquery.isotope.pkgd.js' %}"></script>
    <script  src="{% static 'linaofisAssets/js/main.js' %}"></script>